SUPABASE_URL=https://cwpvzjsngwqqngjxwqys.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3cHZ6anNuZ3dxcW5nanh3cXlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5ODQ4MTQsImV4cCI6MjA5OTU2MDgxNH0.0tmpNgN7-OP6oaZbRCmk4XeAXGIMHgLhbRn9D3wxUAM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3cHZ6anNuZ3dxcW5nanh3cXlzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzk4NDgxNCwiZXhwIjoyMDk5NTYwODE0fQ.hc69WURk5mwf_iI-VTjbp8UxHPckpwiZZI92mBTbmNk
SUPABASE_JWT_SECRET=EXrgckj3yAsUPqyvhE0HdesXLU6Xxxjix9uP4bbQrGVYRsr79vNMP3tiBE6YpmeMuPhgmxmLINMGEWrIdTzqQQ==
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/postgres
OPENAI_API_KEY=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
COHERE_API_KEY=cohere_s3LwPQo5SNuQ5yl3lULeNQBtktJ45qZzWvtisCdI1pB3m5
GOOGLE_OAUTH_CLIENT_ID=959860420362-db8r6frl33v9qh6e7h3odl0em9ebbqeq.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04wKbei_6zLQ-CgYIARAGAQSNwF-L9Iraj7aOszZqY3LIiTxUP4QREyexr_z_J-NCh0-vdeUSUmOc5OL51hUqMaEqk8ZmTTnIag
DRIVE_FOLDER_ID=1btpYIgt5X9udhk6ueM8rapf5UqbPyANp
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIM=1536
CHAT_MODEL=gpt-4.1-mini
CHAT_MAX_TOKENS=4096
CHUNK_SIZE=750
CHUNK_OVERLAP=200
RETRIEVE_TOP_K=20
CONTEXT_WINDOW=10
LANGCHAIN_API_KEY=   # from smith.langchain.com
LANGCHAIN_PROJECT=newFirmRAG
